@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.quiz-container {
  background: #bbdac6;
  max-width: 510px;
  min-height: 100vh;
  margin: auto;
}

#start {
  display: block;
  position: relative;
}

#start img {
  width: 100%;
}

#start .btn-item {
  cursor: pointer;
  position: absolute;
  left: 50%;
  width: 42%;
  bottom: 12.8%;
  transform: translateX(-50%);
}

#start .btn-item>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start .btn-item .c_btn {
  display: none;
}

#start .btn-item img {
  width: 100%;
  transition: opacity 0.3s ease;
}

#start .btn-item:hover .o_btn {
  opacity: 0;
}

#start .btn-item .h_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#start .btn-item:hover .h_btn {
  opacity: 1;
}

#quiz {
  display: none;
  position: relative;
}

.title {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}

.progress-info {
  margin: 10px 0;
  font-size: 12px;
  color: #666;
  font-family: "Noto Sans TC", sans-serif;
}

.progress-bar {
  width: 90%;
  margin: auto;
  height: 8px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 20%;
  background: linear-gradient(90deg, #2b6b64, #143834);
  transition: width 0.3s ease;
}

#prevButton {
  position: absolute;
  top: 20px;
  left: 5%;
  z-index: 999;
  cursor: pointer;
}

#prevButton i {
  color: #143834;
  font-size: 25px;
}

.question {
  aspect-ratio: 1080 / 1920;
}

.question img {
  width: 100%;
  height: 100%;
}

.options {
  position: absolute;
  bottom: 7%;
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.option {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 3%;
}

.option:hover {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  transform: translateY(-2px);
}

.option:active {
  transform: scale(0.98);
}

.result {
  display: none;
  text-align: center;
  position: relative;
}

.restart-btn {
  border: none;
  background: #5E4E2D;
  color: #D3C7BC;
  padding: 6px 13px;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 0.2%;
  right: 3.3%;
}

.restart-btn:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.result .result-image {
  aspect-ratio: 1080 / 1920;
}

.result .result-image img {
  width: 100%;
  display: block;
}

.result .prize-info {
  position: relative;
}

.result .prize-info .bg-pic {
  width: 100%;
  display: block;
}

.result .prize-info .btn-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result .prize-info .btn-item01 {
  top: 22.65%;
  width: 31%;
}

.result .prize-info .btn-item02 {
  bottom: 5.6%;
}

.result .prize-info .btn-item03 {
  bottom: 2%;
}

.result .prize-info .btn-item02,
.result .prize-info .btn-item03 {
  width: 68.4%;
}

.result .prize-info .btn-item img {
  width: 100%;
  transition: all 0.3s ease;
}

.result .prize-info .btn-item:hover .o_btn {
  opacity: 0;
}

.result .prize-info .btn-item .h_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.result .prize-info .btn-item:hover .h_btn {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
  opacity: 1;
}

@media (max-width: 767px) {
  .progress-info {
    margin: 7px 0;
    font-size: 10px;
  }

  .progress-bar {
    height: 5px;
  }

  #prevButton {
    top: 13px;
  }
}